node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
public

# ignore idea project files
.idea
# ignore gedit temp files
*~
# ignore emacs temp files
\#*\#
.\#*
# ignore vim swap files
*.swn
*.swp
*.swo
*.swm
