extends ../layout

block content
  .container
    .header
      ul.nav.nav-pills.pull-right
        li
          a(href='/') Home
        li.active
          a(href='/chats') Chats
      h3.text-muted Node.js Socket.io Chat
    .text-center
      h2 Existing chats:
    .row.marketing
      .col-lg-12.text-center
        - each chat in chats
          a(href= chat.getUrl())
            = chat.name
            |  - (
            = chat.uuid
            | )
          br
    .footer
      p © Company 2014
