extends ../layout

block content
  .container
    .header
      ul.nav.nav-pills.pull-right
        li
          a(href='/') Home
        li
          a(href='/chats') Chats
      h3.text-muted Node.js Socket.io Chat
    .text-center
      h2 This is chat 
         =name
    .row.marketing
      .col-lg-12.text-center
    .footer
      p © Company 2014