extends ../layout

block content
  .container#chat-show
    .header
      ul.nav.nav-pills.pull-right
        li
          a(href='/') Home
        li
          a(href='/chats') Chats
      h3.text-muted Node.js Socket.io Chat
    .text-center
      h2 This is chat 
         =name
    .row.marketing
      .list-group.col-lg-12.text-center
        #chat-text.well(style="height: 350px; text-align: justify; overflow-y: scroll;")
        .input-group
          input#message-input(type="text", class="form-control")
          span.input-group-btn
            button#send-message.btn.btn-default(type="button")
              | Send!
    .footer
      p © Company 2014
    .modal#nicknameModal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4.modal-title Set nickname
          .modal-body
            | Please enter your nickname: 
            input#modal-input-nickname(type='text')
          .modal-footer
            a.chat-close.btn.btn-default(type='button', href="/chats") Close
            button.set-nickname.btn.btn-primary(type='button', data-dismiss='modal') Accept nickname
    script(src='/socket.io/socket.io.js')
    
