doctype html
html
    head
        title= title
        link(rel='stylesheet', href='assets/styles/main.css')
        link(rel='stylesheet', href='assets/styles/vendor.css')
        script(src='assets/scripts/main.js')
        script(src='assets/scripts/vendor.js')
        script(src='assets/scripts/plugins.js')
    body
        block content
